<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>

        <div class="container-about">
          <h2>Historia y Tradición</h2>
          <p>La Universidad Nacional Mayor de San Marcos (UNMSM) es una institución educativa de renombre y prestigio ubicada en Lima, Perú...</p>
      
          <h2>Excelencia Académica</h2>
          <p>La UNMSM ha mantenido altos estándares de calidad académica y se ha destacado en diversas disciplinas...</p>
      
          <h2>Investigación y Desarrollo</h2>
          <p>La investigación es un pilar fundamental en la UNMSM. La universidad fomenta la generación de conocimiento a través de investigaciones innovadoras...</p>
      
          <h2>Compromiso Social</h2>
          <p>La UNMSM tiene un fuerte compromiso con la sociedad y busca contribuir al desarrollo sostenible del país...</p>
      
          <h2>Internacionalización</h2>
          <p>La UNMSM mantiene una presencia activa en el ámbito internacional, estableciendo colaboraciones con universidades y centros de investigación de todo el mundo...</p>
      
          <h2>Orgullo Sanmarquino</h2>
          <p>Los estudiantes y graduados de la UNMSM son conocidos como "sanmarquinos". La comunidad universitaria se enorgullece de pertenecer a una institución con una larga y destacada trayectoria...</p>
        </div>
      </section>
    </main>
  </body>

  <%- include("partials/footer") %>

</html>
